{% extends "base.html" %}

{% block content %}
<div class="content">

    <h2>Currently Ongoing Session Details</h2>
    {% if no_session %}
    <p>There is currently no active session.</p>
    {% else %}
    <table>
        <tr><td>ID</td><td>{{hunter_session.session_id}}</td></tr>
        <tr><td>Scenario Name</td><td>{{hunter_session.scenario.name}}</td></tr>
        <tr><td>Scenario Description</td><td>{{hunter_session.scenario.description}}</td></tr>
        <tr><td>Typical airport</td><td>{{hunter_session.scenario.icao}}</td></tr>
        <tr><td>Started At</td><td>{{hunter_session.started_dt}}</td></tr>
        <tr><td>Started By</td><td>{{hunter_session.started_by}}</td></tr>
        <tr><td>MP Server Host</td><td>{{hunter_session.mp_server_host}}</td></tr>
        <tr><td>GCI is enabled</td><td>{{hunter_session.gci}}</td></tr>
    </table>

    <!-- the links to detailed information -->
    <p>Get an overview of: <a href="/ongoing_session/damages">{{damages_title}}</a></p>
    <p><a href="/ongoing_session/positions_list">{{positions_list_title}}</a></p>
    <p><a href="/ongoing_session/positions_map">{{positions_map_title}}</a></p>
    <p><a href="/ongoing_session/captain">{{captain_title}}</a></p>

    <!-- a map showing the area -->
    <div id="map_current_session"></div>
    <script>
        var south_west = {{ hunter_session.scenario.south_west|tojson }};
        var north_east = {{ hunter_session.scenario.north_east|tojson }};
        var airport_data = {{ airports|tojson }};

        var my_map = L.map('map_current_session').fitBounds([
            [south_west[1], south_west[0]],
            [north_east[1], north_east[0]]
        ]);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(my_map);
        L.control.scale().addTo(my_map);

        for (i in airport_data) {
            var marker = L.marker([airport_data[i][2], airport_data[i][1]]).addTo(my_map);
            marker.bindPopup(airport_data[i][0]);
        }
    </script>

    {% endif %}

</div>
{% endblock %}
