{% extends "base.html" %}

{% block content %}
<div class="content">

    <h2>{{title}}</h2>
    {% if no_session %}
    <p>There is currently no active session.</p>
    {% else %}
    <p>Attackers have blue markers, ships are green, vehicles are magenta, static stuff is red, rest (mostly flying) is cyan.</p>
    <div id="map_positions"></div>
    <script>
        var south_west = {{ hunter_session.scenario.south_west|tojson }};
        var north_east = {{ hunter_session.scenario.north_east|tojson }};
        var positions_data = {{ positions|tojson }};

        var my_map = L.map('map_positions').fitBounds([
            [south_west[1], south_west[0]],
            [north_east[1], north_east[0]]
        ]);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(my_map);
        L.control.scale().addTo(my_map);

        for (i in positions_data) {
            var circle = L.circle([positions_data[i][2], positions_data[i][1]], {
                color: positions_data[i][3],
                fillColor: positions_data[i][3],
                fillOpacity: 0.5,
                radius: 100
            }).addTo(my_map);
            circle.bindPopup(positions_data[i][0]);
        }
    </script>
    {% endif %}

</div>
{% endblock %}
