{% extends "base.html" %}

{% block content %}
<div class="content">

    <h2>{{title}}</h2>
    {% if no_session %}
    <p>There is currently no active session.</p>
    {% elif positions %}
    <table class="content_table">
        <tr>
            <th>Callsign</th>
            <th>Kind</th>
            <th>Health</th>
            <th>Lon</th>
            <th>Lat</th>
            <th>Altitude [m]</th>
            <th>Altitude [ft]</th>
            <th>Heading</th>
            <th>Speed</th>
        </tr>
        {% for position in positions %}
        <tr>
            <td>{{position.callsign}}</td>
            <td>{{position.kind}}</td>
            <td>{{position.health.name}}</td>
            <td>{{position.position.lon}}</td>
            <td>{{position.position.lat}}</td>
            <td>{{position.position.alt_m}}</td>
            <td>{{position.position.alt_ft}}</td>
            <td>{{position.heading}}</td>
            <td>{{position.speed}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no registered positions in the current session.</p>
    {% endif %}

</div>
{% endblock %}
