.content_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.content_table td, .content_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.content_table tr:nth-child(even){background-color: #f2f2f2;}

.content_table tr:hover {background-color: #ddd;}

.content_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.fixed-footer {
    bottom: 0;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: #4CAF50;
}

#map_current_session {
    height: 600px;
    width: 800px;
}

#map_positions {
    height: 800px;
    width: 1024px;
}

/* Form stuff for the captain */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 180px;
    text-align: right;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 180px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}
